<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Tienda Arkaitz</title>
<link rel="stylesheet" href="/css/style.css">
<style>
	tr{
		margin-left: 1%;
	}
</style>
</head>
<body>
	<div class="grid-container">
	 	<div class="Nav" th:insert="@{/composicion/header.html}"></div>
	  	<div class="Aside"></div>
	  	<div class="Section" style="margin-left: 20%; margin-top:8%; padding-top: 2%;">
	  		<table style="text-align:center;">
		  		<tr>
		  			<th>Correo</th>
		  			<th>Nombre</th>
		  			<th>Primer apellido</th>
		  			<th>Segundo apellido</th>
		  			<th>Direccion</th>
		  			<th>Localidad</th>
		  			<th>Provincia</th>
		  			<th>Telefono</th>
		  			<th>Dni</th>
		  			<th>Editar</th>
		  			<th>Eliminar</th>
		  		</tr>
		  		<tr th:each="usuario : ${session.listaUsuarios}" >
		  			<td th:text="${usuario.email}"></td>
		  			<td th:text="${usuario.nombre}"></td>
		  			<td th:text="${usuario.apellido1}"></td>
		  			<td th:text="${usuario.apellido2}"></td>
		  			<td th:text="${usuario.direccion}"></td>
		  			<td th:text="${usuario.localidad}"></td>
		  			<td th:text="${usuario.provincia}"></td>
		  			<td th:text="${usuario.telefono}"></td>
		  			<td th:text="${usuario.dni}"></td>
		  			<td>&#128242;</td>
		  			<td>&#10060;</td>
		  		</tr>
	  		</table>
	  	</div>
	  	<div class="Article"></div>
	  	<div class="Footer" th:insert="@{/composicion/footer.html}"></div>
	</div>
</body>
</html>