<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Tienda Arkaitz</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<style>
body {
	padding: 0;
	margin: 0;
}

tr {
	margin-left: 1%;
}

.full {
	margin-left: 2%;
}

.card {
	margin-left: 13%;
	margin-top: 1%;
}
</style>
</head>
<body>
	<div th:insert="@{/composicion/header.html}"></div>
	<div class="Aside"></div>
	<div class="Section"
		style="width: 100%; margin-top:8%; display: inline-flex; flex-wrap: wrap;">
		<table style="text-align: center; width: 100%;">
			<tr style="width: 25%;" th:each="producto : ${listaProductos}">
				<div class="card" style="width: 18rem;">
					<img th:src="'../images/productos/'+${producto.imagen}"
						class="card-img-top">
					<div class="card-body">
						<h5 class="card-title" th:text="${producto.nombre}"></h5>
						<p class="card-text" th:text="${producto.descripcion}"></p>
					</div>
					<div class="card-body">
						<p>
							<span>
								<button type="button" class="btn btn-light"><a th:href="@{/producto/detalleProducto/}+${producto.id}">Detalles</a></button>
							</span>  
							<span th:if="${producto.stock!=0}"> 															
								<button type="button" class="btn btn-light"><a th:href="@{/producto/carrito/}+${producto.id}">Añadir al carrito</a></button>															
							</span>
						</p>
						<p>
							<span th:if="${producto.stock!=0}"}>
								<span style="text-align: right; margin-left: 75%;" th:text="${producto.precio}+'€'"></span>
							</span>		
							<span th:if="${producto.stock==0}"> 
								<span style="text-align: left; margin-left: 60%; color: red;">Fuera de stock</span>
							</span>
						</p>
					</div>
				</div>
			</tr>
		</table>
	</div>
	<div class="Article"></div>
	<div class="Footer" th:insert="@{/composicion/footer.html}"></div>
	</div>
</body>
</html>