<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="static/css/style.css">
<style>
body{
	background-image: url("/images/bg-Bienvenido.jpg");
	color: black;
}
button{
	 margin-right:2%;
}
</style>
</head>
<body>
	<div class="Nav">
	  <h1 style="text-align:center;">Bienvenido a la tienda de Arkaitz</h1>
	  <ul style="margin-left:30%">
	  	<li>
			<button type="submit" class="btn btn-primary btn-block" name="inicio"><a th:href="@{bienvenido}">Inicio</a></button>
			<button type="submit" class="btn btn-primary btn-block" name="registrateU"><a th:href="@{registro}">Registrar Usuario</a></button>
		  	<button type="submit" class="btn btn-primary btn-block" name="registrateR"><a th:href="@{rol/registro}">Registrar Rol</a></button>
		  	<button type="submit" class="btn btn-primary btn-block" name="listaUsuarios"><a th:href="@{bienvenido/listaUsuarios}">Listar usuarios</a></button>
		  	<button type="submit" class="btn btn-primary btn-block" name="listaRoles"><a th:href="@{bienvenido/listaRoles}">Listar roles</a></button>
		  	<button type="submit" class="btn btn-primary btn-block" name="listaRoles"><a th:href="@{/}">Cerrar Sesion</a></button>
		</li>
	  </ul>	  
	  <p style="text-align:center">Bienvenido <span th:text="${usuario.nombre}"></span>. Ultima sesion iniciada: </p>
  	  <p style="text-align:center">Su rol es <span th:text="${nombreRol}"></span>.</p>
	  </div>
</body>
</html>